.column {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #F8F9FA;

  box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
}

i {
  padding: 10px;
}

a {
  color: black;
}

