nav {
  padding: 0;
}

.navbar-nav {
  display: flex;
  padding: 0px 0 0;
  justify-content: space-evenly;
  text-transform: uppercase;
  margin: 0;
}

.navbar > * {
  flex-grow: 1;
  text-align: center;
}

ul {
  padding: 0;
}

#weather, #login {
  padding-top: 20px;
}


