.mainWeather {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 30px;
}

.weatherNow {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-items: center;
    border-radius: 10px;
    width: 620px;
    height: auto;
    background: linear-gradient(185deg, rgba(93,232,148,0.6746987951807228) 12%, rgba(50,229,231,1) 79%);
    color: white;
    padding: 10px;
    font-size: 1rem;
    box-shadow: 9px 8px 42px -14px rgba(0,0,0,0.58);
    -webkit-box-shadow: 9px 8px 42px -14px rgba(0,0,0,0.58);
    -moz-box-shadow: 9px 8px 42px -14px rgba(0,0,0,0.58)
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
    font-weight: bold;
}

.item2 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.item3 {
    align-self: center;
    text-align: center;
}


.item4 {
    align-self: center;
    text-align: center;
}

.item5 {
    align-self: center;
}

.item5{
    align-self: center;
}

.nextHoursWeather {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 5px;
}

.weatherDiv {
    border-radius: 10px;
    width: 200px;
    height: auto;
    background: linear-gradient(185deg, rgba(93,232,148,0.6746987951807228) 12%, rgba(50,229,231,1) 79%);
    color: white;
    margin: 5px;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    box-shadow: 9px 8px 42px -14px rgba(0,0,0,0.58);
    -webkit-box-shadow: 9px 8px 42px -14px rgba(0,0,0,0.58);
    -moz-box-shadow: 9px 8px 42px -14px rgba(0,0,0,0.58)
}

.temperature {
    font-size: 2rem;
}

.time {
    font-size: 2rem;
    font-weight: bold;
}

.sunRiseSunSet {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .weatherNow {
        display: grid;
        grid-template-columns: auto auto auto;
        width: 98%;
  }

  .weatherDiv {
      padding: 5px;
  }
}