<div class="mainWeatherDiv">
    <div class="weatherDiv">
        <h1>Kellonaika</h1>
        <p>Icon tähän</p>
        <p>Lämpötila °C</p>
        <p>Tuntuu kuin °C</p>
        <p>Tuulen nopeus m/s</p>
        <p>Sademäärä</p>
    </div>
    <div class="weatherDiv">
        <h1>Kellonaika</h1>
        <p>Icon tähän</p>
        <p>Lämpötila °C</p>
        <p>Tuntuu kuin °C</p>
        <p>Tuulen nopeus m/s</p>
        <p>Sademäärä</p>
    </div>
    <div class="weatherDiv">
        <h1>Kellonaika</h1>
        <p>Icon tähän</p>
        <p>Lämpötila °C</p>
        <p>Tuntuu kuin °C</p>
        <p>Tuulen nopeus m/s</p>
        <p>Sademäärä</p>
    </div>
    <div class="weatherDiv">
        <h1>Kellonaika</h1>
        <p>Icon tähän</p>
        <p>Lämpötila °C</p>
        <p>Tuntuu kuin °C</p>
        <p>Tuulen nopeus m/s</p>
        <p>Sademäärä</p>
    </div>
</div>
