<section class="wrapper">
  <section class="filter">
    <div class="row">
      <div class="col-4">
        <h1>
          Paikat
        </h1>
      </div>
      <div class="col-8">
        <nav class="navbar">
          <a id="a1"><p>Ravintolat</p></a>
          <a id="a2"><p>Ostokset</p></a>
          <a id="a3"><p>Majoitus</p></a>
          <a id="a4"><p>Tilat<br> & Tapahtumapaikat</p></a>
        </nav>
      </div>
    </div>
  </section>


  <section class="nearby">
    <h2>Lähistöllä</h2>
    <div class="map">
      <app-map></app-map>
    </div>
  </section>

  <div class="list">
    <h2>Kaikki paikat</h2>
    <input type="date" id="calendar" name="calendar" value="Pick a date"
    min="2021-01-04" max="2022-31-12">
    <div *ngFor="let place of places.slice(0,7)">
      <h2>{{place.name.fi}}</h2>
      <p>
        {{place.description.body}}
      </p>
      <p>{{place.location.address.street_address}}</p>
      <!-- <p>{{place.location.lat}}</p>
      <p>{{place.location.lon}}</p> -->

    </div>
  </div>
</section>
