<section class="wrapper">

  <section class="filter">
    <div class="row">
      <div class="col-4">
        <h1>
          Paikat
        </h1>
      </div>
      <div class="col-8">
        <nav class="navbar">
          <a id="koho"><p>Ravintolat</p></a>
          <a><p>Ostokset</p></a>
          <a id="koho"><p>Majoitus</p></a>
          <a><p>Tilat<br> & Tapahtumapaikat</p></a>
        </nav>
      </div>
    </div>
  </section>

  <section class="nearby">
    <app-map></app-map>
  </section>

  <div class="container">
    <h2>Kaikki paikat</h2>
  <div class="card mb-3" style="max-width: 900px; ">
    <div class="row g-0" *ngFor="let place of places.slice(0,7)">
      <div class="col-md-4">
      <div class="card-img-wrapper">
       <div *ngIf="place.description.images.length > 0; else elseBlock">
        <img src={{place.description.images[0].url}} alt="">
      </div>
      <ng-template #elseBlock>
        <img src="" alt="">
      </ng-template>
      </div>
      </div>
      <div class="col-md-8">
        <a class="card-body" routerLink="/place-details/{{place.id}}" >
          <h5 class="card-title mb-0">{{place.name.fi}}</h5>
          <p class="card-text mb-0"  >
            {{place.description.body | stripHTML}}
          </p>
          <p class="card-text">
            <small class="text-muted">{{place.location.address.street_address}}</small>
          </p>
           <!-- <button routerLink="/place-details/{{place.id}}">Tutustu lisää!</button> -->
        </a>
      </div>
    </div>
  </div>
  </div>
</section>
