<div class="row">
    <div class="col-md-4 offset-md-3 mt-4">
        <form>
          <h3>Register new user</h3>
                <label for="registerName">Name</label>
                <input type="name" class="form-control" id="registerName" placeholder="Your Name">
                <label for="registerEmail">Email</label>
                <input type="email"
                       class="form-control"
                       id="registerEmail"
                       placeholder="Enter email">
            <div class="form-group">
                <label for="registerPassword">Password</label>
                <input type="password"
                       class="form-control"
                       id="registerPassword"
                       placeholder="Password">
            </div>
            <button type="submit"
                    class="btn btn-outline">Register <i class="fas fa-sign-in-alt"></i></button>
        </form>
    </div>
  </div>
