<a routerLink="/categories/places" type="button" class="btn btn-outline-secondary">Takaisin</a>
<div class="container">
  <div *ngIf="currentPlace">
    <div class="row">
      <div class="col-md-6">
        <div *ngIf="currentPlace.description.images?.length > 0; else elseBlock">
          <img src={{currentPlace.description.images[0].url}} alt="place-picture" class="w-100" />
        </div>
        <ng-template #elseBlock>
          <img src="" alt="">
        </ng-template>
      </div>
      <div class="col-md-6">
        <div class="row align-items-center h-100">
            <div class="col">
                <h1 class="display-4">{{currentPlace.name.fi}}</h1>
                <p><strong>Missä: </strong> {{currentPlace.location.address.street_address}}, {{currentPlace.location.address.locality}}</p>
                <a href="{{currentPlace.info_url}}" class="btn btn-outline-primary" role="button" aria-pressed="true">Verkkosivu</a>
            </div>
        </div>
      </div>
      <p class="mt-3 lead"> {{currentPlace.description.body | stripHTML}} </p>
      <a type="button" (click)="addFavourite()" class="btn btn-danger"><i class="bi bi-heart"></i> Lisää suosikkeihin</a>

      <a (click)="addFav(currentPlace)" type="button" data-toggle="button" class="btn btn-outline-danger"><i class="bi bi-heart"></i> Lisää suosikkeihin</a>
    </div>
  </div>
</div>

