.wrapper {
  margin: 5%;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 30px;
}

.input-group-append{
  margin-bottom: 50px;
  width: 60%;
  border-radius: 0.3rem;
  border: 1px solid #dee2e6;
  font-size: 1, 25rem;
  padding: 10px;
  margin-left: 21%;

  box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
}

h2 {
  font-weight: 700;
  margin-top: 20px;
  text-align: center;
    /* margin-left: 20%; */
  margin-bottom: 0;
  padding-bottom: 15px;
}

span {
  padding-right: 10px;
}

a {
  color: #ffffff;
  height: 80px;
  font-size: 1.2rem;
  text-align: start;
  text-decoration: none;
  border-radius: 5%;
  padding: 10px;
}

.box {
  width: 60%;
  margin: auto;
  padding-bottom: 20px;
  border-radius: 10px;

/*
  box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58); */
}

.box1 {
  background: rgb(144, 100, 211);
  background: linear-gradient(
    0deg,
    rgba(144, 100, 211, 1) 0%,
    rgba(255, 112, 169, 0.6834532374100719) 100%
  );

  box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);

  width: 30%;
  border-radius: 10px;
}

:hover.box1 {
  background-color: #A366CC;
}

.box2 {
  background: rgb(255, 220, 160);
  background: linear-gradient(
    185deg,
    rgba(255, 220, 160, 1) 15%,
    rgba(246, 108, 108, 0.8337349397590361) 83%
  );

  box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);

  width: 30%;
  border-radius: 10px;
}

:hover.box2 {
  background-color: #F9907D;
}

.box3 {
  background: rgb(93, 232, 148);
  background: linear-gradient(
    185deg,
    rgba(93, 232, 148, 0.6746987951807228) 12%,
    rgba(50, 229, 231, 1) 79%
  );

  box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);

  width: 30%;
  border-radius: 10px;
}

:hover.box3 {
  background-color: rgb(93, 232, 148);
}

.nearby {
  background-color: rgba(187, 247, 211, 0.675);
}

.nearby h2 {
  padding-top: 20px;
}

.map {
  width: 85%;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 40px;
}

.map a {
  padding: 0;
}

img {
  width: 100%;

  box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
}

#trend {
  padding-bottom: 25px;
}

.column {
  width: 60%;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 50px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

#trend-img {
  border-radius: 10px;
}


@media only screen and (max-width: 601px) {

.wrapper {
  margin: 0;
}

.search {
  margin-top: 40px;
}

.input-group-append {
  width: 80%;
  margin-left: 10%;
}

#explore {
  display: none;
}

.box {
  width: 90%;
}

 h1 {
  padding-top: 5px;
  font-size: 1rem;
}

span {
  display: none;
}

h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

.box1, .box2, .box3 {
  height: 150px;
}

.nearby {
  background-color: rgba(187, 247, 211, 0.675);
}

.map {
  width: 100%;
  padding-bottom: 50px;
}

.map a {
  padding: 0;
}

#trend {
  padding-top: 10px;
}

.trending i {
  display: none;
}

.column {
  width: 100%;
}

}

@media only screen and (max-width: 376px) {

  .input-group-append {
    margin-bottom: 20px;
  }

  .navbar {
    display: flex;
    flex-direction: column;
  }

  .box1, .box2, .box3 {
    height: 40px;
    width: 100%;
    text-align: center;
    margin: 5px 0;
    padding: 5px;
  }
}
