.wrapper {
  margin: 2% 5%;
  font-family: 'Open Sans', sans-serif;
}

.input-group-append {
  margin: 25px 0 25px 25px;
}

input[type=search] {
  width: 15%;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;

  box-shadow: 9px 8px 30px -14px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 9px 8px 30px -14px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 9px 8px 30px -14px rgba(0, 0, 0, 0.58);
}

input[type=search]:focus {
  width: 60%;
}

/* top-section rules */

.top {
  margin-bottom: 5%;

  background: rgb(255, 220, 160);
  background: linear-gradient(
    185deg,
    rgba(255, 220, 160, 1) 15%,
    rgba(246, 108, 108, 0.8337349397590361) 83%
  );

  box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
}

.col-6 {
  height: 300px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding: 30px;
  margin-top: 30px;
  color: #ffffff;
}

a {
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
}

p {
  unicode-bidi: bidi-override;
  transform: rotate(180deg);
  margin-top: 220px;
}

.box {
  height: inherit;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
}

.box1 {
  height: 300px;
  background: transparent;
  /* background: rgb(144, 100, 211);
  background: linear-gradient(
    0deg,
    rgba(144, 100, 211, 1) 0%,
    rgba(255, 112, 169, 0.6834532374100719) 100%
  ); */

  box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);

  width: 100%;

}

:hover.box1 {
  background-color: #F9907D;
}


.box2 {
  height: 300px;
  background: transparent;
  /* background: rgb(255, 220, 160);
  background: linear-gradient(
    185deg,
    rgba(255, 220, 160, 1) 15%,
    rgba(246, 108, 108, 0.8337349397590361) 83%
  ); */

  /* box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58); */

  width: 100%;

}

:hover.box2 {
  background-color: #F9907D;
}

.box3 {
  height: 300px;
  background: transparent;
  /* background: rgb(93, 232, 148);
  background: linear-gradient(
    185deg,
    rgba(93, 232, 148, 0.6746987951807228) 12%,
    rgba(50, 229, 231, 1) 79%
  ); */

  box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);

  width: 100%;
}

:hover.box3 {
  background-color: #F9907D;
}



.nearby {

  background: rgb(93, 232, 148);
  background: linear-gradient(
    185deg,
    rgba(124, 236, 109, 0.675) 12%,
    rgb(117, 173, 130) 79%
  );

  box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
}


h2 {
  font-weight: 700;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 15px;
}

.nearby h2 {
  padding-top: 20px;

}

.map {
  margin: auto;
  padding-top: 15px;
  padding-bottom: 40px;
}

.map a {
  padding: 0;
}

#trend {
  padding-bottom: 25px;
}

.column {
  width: 60%;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 50px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

#trend-img {
  border-radius: 10px;
}


@media only screen and (max-width: 768px) {

.wrapper {
  margin: 2% 0;
}

.search {
  margin-top: 40px;
}

.input-group-append {
  width: 80%;
  margin-left: 10%;
}


 h1 {
  padding-top: 5px;
  font-size: 2rem;
}

h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

.box a {
  height: 150px;
  background-color: transparent;
}

.nearby {
  background-color: rgba(187, 247, 211, 0.675);
}

.map {
  width: 100%;
  padding-bottom: 50px;
}

.map a {
  padding: 0;
}

#trend {
  padding-top: 10px;
}

.trending i {
  display: none;
}

.column {
  width: 100%;
}

}

@media only screen and (max-width: 425px) {

  .wrapper {
    margin: 0;
  }

  .input-group-append {
    margin: 20px 0;
  }

  .box a {
    height: 150px;
    background-color: transparent;
  }


  .box1, .box2, .box3 {
    text-align: center;
    margin: 5px 0;
    padding: 5px;
  }
}
