<section class="wrapper">
  <div class="search">
    <h1>Welcome to your personal Helsinki city guide</h1>
    <input type="search" placeholder="Search the site.." />
  </div>
  <h2>Explore</h2>
  <div class="box">
    <nav class="navbar">
      <a class="box1" routerLink="/items" routerLinkActive="active">Events</a>
      <a class="box2" routerLink="/items" routerLinkActive="active"
        >Activities</a>
      <a class="box3" routerLink="/items" routerLinkActive="active">Places</a>
    </nav>
  </div>

  <section class="nearby">
    <h2>Nearby</h2>
    <div class="map">
      <a routerLink="/map" routerLinkActive="active"
        ><img src="../../assets/helsinki.png" alt=""
      /></a>
    </div>
  </section>


  <div class="trending">
    <h2 id="trend">Trending right now</h2>
    <ul class="column">
      <li class="col-4"><img id="trend-img" src="../../assets/events.jpg" alt="" /><figcaption>tekstii..</figcaption></li>
      <li class="col-4"><img id="trend-img" src="../../assets/activities.jpg" alt="" /><figcaption>tekstii..</figcaption></li>
      <li class="col-4"><img id="trend-img" src="../../assets/places.jpg" alt="" /><figcaption>tekstii..</figcaption></li>
    </ul>
  </div>

</section>
