.wrapper {
  font-family: 'Open Sans', sans-serif;
}

/* top-section rules */
.top {
  margin: 2%;
  background: rgb(255, 220, 160);
  background: linear-gradient(
    185deg,
    rgba(255, 220, 160, 1) 15%,
    rgba(246, 108, 108, 0.8337349397590361) 83%
  );

  box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
}

.col-6 {
  height: 300px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding: 30px;
  margin-top: 30px;
  color: #ffffff;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 20px 0;
  text-align: center;
  padding-top: 20px;
}

a {
  text-decoration: none;
}

p {
  color: #ffffff;

  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 45%;
}

/* .rotate {
  unicode-bidi: bidi-override;
  transform: rotate(180deg);
  margin-top: 40%
} */

.box {
  height: inherit;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
}

.box1 {
  height: 300px;
  width: 100%;
  background: transparent;
  /* background: rgb(144, 100, 211);
  background: linear-gradient(
    0deg,
    rgba(144, 100, 211, 1) 0%,
    rgba(255, 112, 169, 0.6834532374100719) 100%
  ); */

  box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
}

:hover.box1 {
  background-color: #F9907D;
}

.box2 {
  height: 300px;
  background: transparent;
  width: 100%;
}

:hover.box2 {
  background-color: #F9907D;
}

.box3 {
  height: 300px;
  width: 100%;
  background: transparent;
   /* background: rgb(93, 232, 148);
  background: linear-gradient(
    185deg,
    rgba(93, 232, 148, 0.6746987951807228) 12%,
    rgba(50, 229, 231, 1) 79%
  ); */

  box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
}

:hover.box3 {
  background-color: #F9907D;
}


/* map section */
.nearby {
  margin: 2% 5%;
  color: black;
  /* background: rgb(93, 232, 148);
  background: linear-gradient(
    185deg,
    rgba(129, 238, 115, 0.675) 12%,
    rgb(74, 189, 101) 79%
  );

  box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58); */
}

.nearby h2 {
  padding-top: 15px;
  margin-bottom: 0;
}

app-map {
  padding: 20px;
}

/* trending right now */
.trending {
  margin: 2%;
  background: rgb(255, 220, 160);
  background: linear-gradient(
    185deg,
    rgba(255, 220, 160, 1) 15%,
    rgba(246, 108, 108, 0.8337349397590361) 83%
  );

  box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
}

.trending h2 {
  color: #ffffff;
}


@media only screen and (min-width: 426px) and (max-width: 768px) {

.wrapper {
  margin: 2% 0;
}


 h1 {
  padding-top: 5px;
  font-size: 2rem;
}

h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

.box a {
  height: 150px;
  background-color: transparent;
}

:hover.box1 {
  background-color: #F9907D;
}

p {
  padding-top: 30%;
  font-size: 1rem;
}

.rotate {
  display: none;
}
}


@media only screen and (max-width: 425px) {

  h1 {
    font-size: 2rem;
    margin-top: 0;
  }

  .input-group-append {
    margin: 20px 0;
  }

  .top {
    margin: 0;
  }

  .col-lg-6 {
    padding: 0;
  }

  .box a {
    height: 100px;
  }

  a {
    width: 30%;
    background-color: transparent;
    padding: 0;
  }

  p {
    font-size: 1rem;
  }

  .rotate {
    display: none;
  }

  .nearby h1 {
    font-size: 1.5rem;
  }
}
