h2{
    color: pink;
    margin-top: 2.5rem;
  }

  .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .container {
    height: 85vh;
  }
