<div class="container">
  <h2 class="otsikko">Sinun suosikkisi <i class="bi bi-heart"></i></h2>
<div class="card-columns">
  <div class="card" *ngFor="let fav of favourites">
    <!-- <img class="card-img-top"> -->
    <div class="card-img-top" *ngIf="fav.description.images?.length > 0; else elseBlock">
      <img
        src="{{ fav.description.images[0].url }}"
        alt="event-picture"
        class="card-img-top"
      />
    </div>
    <ng-template #elseBlock>
      <img src="" alt="" />
    </ng-template>
    <div class="card-body">
      <h5 class="card-title">{{fav.name.fi }}</h5>
      <p class="card-text"> {{ fav.description.body | stripHTML }}</p>
      <button class="btn btn-outline-primary" role="button" aria-pressed="true" routerLink="/event-details/{{ fav.id }}">Lue lisää!</button>
    </div>
  </div>
  </div>
</div>