
    <div *ngIf="currentEvent">
      <div class="card-img-wrapper">
        <div *ngIf="currentEvent.description.images.length > 0; else elseBlock">
            <img src={{currentEvent.description.images[0].url}} alt="event-picture" class="card-img-top"/>
          </div>
          <ng-template #elseBlock>
            <img src="" alt="">
          </ng-template>
        </div>
        <section class="wrapper">
          <h1>{{currentEvent.name.fi}}</h1>
          <p> {{currentEvent.description.body | stripHTML}} </p>
          <p><strong>Missä: </strong> {{currentEvent.location.address.street_address}}</p>
          <p><strong>Milloin: </strong> {{currentEvent.event_dates.starting_day | date : 'dd/MM/yyyy'}}</p>
          <a href="{{currentEvent.info_url}}" class="btn btn-outline-primary" role="button" aria-pressed="true">Lue lisää</a>


 <section class="nearby">
      <!-- <app-map></app-map> -->
  </section>

    <!-- <button routerlink="events" > Back </button> -->

</section>

