.filter {
  margin: 2%;
  height: 200px;
  background: rgb(144, 100, 211);
  background: linear-gradient(
    0deg,
    rgb(235, 219, 80) 0%,
    rgba(235, 236, 169, 0.683) 100%
  );

  box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  padding: 30px;
  margin-top: 30px;
  color: #ffffff;
}

/* categories navbar */
.navbar {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.navbar a {
  background: transparent;
  width: 25%;
  height: 200px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar a:hover {
  background-color: rgba(233, 223, 139, 0.683);
}

.navbar p {
  padding-top: 30%;
  font-weight: bold;
}

#a1, #a3 {
  box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 9px 8px 42px -14px rgba(0, 0, 0, 0.58);
}

/* map */
.nearby {
  margin: 2% 5%;
  /* background: rgb(93, 232, 148);
  background: linear-gradient(
  185deg,
  rgba(129, 238, 115, 0.675) 12%,
  rgb(74, 189, 101) 79%
  ); */
}

.nearby a {
  padding: 0;
}

/*list section */
.card {
  border: none;
}
.card-text {
  display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.col-md-8 {
  display: flex;
  align-items:center;
}
.card-body h5{
  font-weight: bolder !important;
}

.card-body {
  /* text-decoration: none; */
  color: black;
}

@media only screen and (min-width: 426px) and (max-width: 768px) {


}

@media only screen and (max-width: 425px) {

  .navbar {
    display: flex;
    flex-direction: column;
  }

  .navbar a {
    height: 40px;
    width: 100%;
    text-align: center;
    margin: 5px 0;
    padding: 5px;
  }

}
