<section class="wrapper">

  <section class="filter">
    <div class="row">
      <div class="col-4">
        <h1>
          Tutustu lähiympäristösi tapahtumiin
        </h1>
      </div>
      <div class="col-8">
        <nav class="navbar">
          <a id="a1"><p>Musiikki</p></a>
          <a id="a2"><p>Kulttuuri</p></a>
          <a id="a3"><p>Urheilu</p></a>
          <a id="a4"><p>Lapset</p></a>
        </nav>
      </div>
    </div>
  </section>

  <section class="nearby">
      <app-map></app-map>
  </section>

  <div class="list">
    <h2>Kaikki tapahtumat</h2>
    <input
      type="date"
      id="calendar"
      name="calendar"
      value="Pick a date"
      min="2021-01-04"
      max="2022-31-12"
    />
    <div *ngFor="let event of events.slice(0, 7)">
      <h2>{{ event.name.fi }}</h2>
      <p>
        {{ event.description.body }}
      </p>
      <h5>Sijainti</h5>
      <p>{{ event.location.address.street_address }}</p>
      <!-- <p>{{event.location.lat}}</p>
      <p>{{event.location.lon}}</p> -->
    </div>
  </div>
</section>
