<section class="wrapper">

  <section class="filter">
    <div class="row">
      <div class="col-4">
        <h1>
          Tutustu lähiympäristösi tapahtumiin
        </h1>
      </div>
      <div class="col-8">
        <nav class="navbar">
          <a id="a1"><p>Musiikki</p></a>
          <a id="a2"><p>Kulttuuri</p></a>
          <a id="a3"><p>Urheilu</p></a>
          <a id="a4"><p>Lapset</p></a>
        </nav>
      </div>
    </div>
  </section>

  <section class="nearby">
      <app-map></app-map>
  </section>

<div class="container">
  <h2>Kaikki tapahtumat</h2>
  <div class="card mb-1" style="max-width: 900px; ">
    <div class="searchEvent">
      <input type="text" class="form-control mb-8" name="search"[(ngModel)]="searchText" autocomplete="off" placeholder="Search Event">
    </div>
    <div class="row g-0" *ngFor="let event of events | filter: searchText">
      <div class="col-md-4">
        <div class="card-img-wrapper">
          <div *ngIf="event.description.images.length > 0; else elseBlock">
              <img src={{event.description.images[0].url}} alt="event-picture" class="card-img-top"/>
            </div>
            <ng-template #elseBlock>
              <img src="" alt="">
            </ng-template>
      </div>
      </div>
      <div class="col-md-8">
        <a class="card-body" routerLink="/event-details/{{event.id}}">
          <p class="card-text mb-0">
            <small class="text-muted">{{event.event_dates.starting_day | date : 'dd/MM/yyyy HH:mm'}}</small>
          </p>
          <h5 class="card-title mb-0">{{event.name.fi}}</h5>
          <p class="card-text mb-0"  >
            {{event.description.body | stripHTML}}
          </p>
          <p class="card-text">
            <small class="text-muted">{{event.location.address.street_address}}</small>
          </p>
        </a>
        <!-- VÄLIAIKAINEN NAPPULA -->
        <!-- <button routerLink="/event-details/{{event.id}}">Tutustu lisää!</button> -->
      </div>
    </div>
  </div>
</div>
</section>
